<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Configurar receta <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#"> Añadir ingredientes</a></li>
                <li>
                    <a href="#"></a>Editar receta</li>
                <li><a href="#">Borrar receta</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{recipe.description}}</div>
</div>
<div class="row">
    <div class="col-xs-12">Ingredientes</div>
</div>