<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-2">
                    <label for="amount">Cantidad</label>
                    <input type="number" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="onAddItem()">Añadir</button>
                    <!-- <button class="btn btn-danger" type="button" (click)="onDeleteItem($value)">Eliminar</button> -->
                    <button class="btn btn-danger" type="button">Eliminar</button>
                    <button class="btn btn-primary" type="button" (click)="onClearItem()">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>